:root {
    --primary-color: #3D99F5;
    --secondary-color: #ffd6ff;
    --ternary-color: #d0d0d0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


.container {
    max-width: 1250px;
    margin: 0 auto;
    position: relative;

}

.top {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: flex-end;
}

/* LEFT CONTENT */
.top-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-left p {
    color: var(--primary-color);
    font-weight: 500;

}

.top-left h2 {
    font-weight: 600;
    font-size: 40px;

}

/* SLIDER CONTROLS */

.slider-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border: solid var(--ternary-color) 1px;
    padding: 5px;
    border-radius: 999px;
    width: 150px;


}



.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #e5e7eb;
}


.carousel-btn {
    --rotate-angle: 90deg;
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    padding: 16px;
    align-items: center;
    justify-content: center;
    transform: rotate(var(--rotate-angle));
    font-weight: bold;
    color: #9797A6;
    cursor: pointer;

}


.carousel-btn.next {
    --rotate-angle: -90deg;
}

.carousel-btn:hover {
    background: #e8e8e8;

}

.dot-active {
    width: 40px;
    height: 10px;
    border-radius: 999px;
    background: #e5e7eb;
    position: relative;
    overflow: hidden;
}

.dot-active::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 40%;
    background: var(--primary-color);
    border-radius: inherit;
}


/* SLIDER */

.slider {
    border: solid var(--ternary-color) 1px;
    border-radius: 64px;
    position: relative;
    overflow: hidden;
    height:700px;
    width: 1350px;
}


.slider-content {
    position: absolute;
    inset: 0;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px repeat(2, 450px);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas:
        "card-blue card-image1 card-image2 "
        "card-pink card-image1 card-image2 ";
    gap: 1em;
    opacity: 0;
    transform: translateX(100%);

}


@keyframes slideInFromRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}


.slider-content.active {
    opacity: 1;
    animation: slideInFromRight 0.8s ease-in-out forwards;
    pointer-events: auto;
    z-index: 2000;
}

.slider-content.exit {
    display: grid;
    animation: slideOutToLeft 0.8s ease-in-out forwards;
}

.card {
    border-radius: 16px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: space-between;

}

.card:hover {
    transform: translateY(-4px);
}



.icon {
    --icon-color: #fff;
    font-size: 25px;
    font-weight: 500;
    color: var(--icon-color);
}

.icon-pink {
    --icon-color: #4A424D;
}

.number {
    --number-color: #E9E9eE;
    font-size: 72px;
    color: var(--number-color);

}



.label {
    --number-color: #E9E9eE;
    color: var(--number-color);
}

.img-title {
    font-size: 20px;
    font-weight: 500;
}

.img-desc p {
    font-size: 30px;
    font-weight: 500;
}

.img-desc a {
    cursor: pointer;
}

.img-desc a:hover {
    color: var(--ternary-color);
}


.img-desc a i {
    margin-top: 10px;
    transform: rotate(-90deg);
}






.card-blue {
    background: var(--primary-color);
    grid-area: card-blue;

}

.card-pink {
    justify-content: space-between;
    background: var(--secondary-color);
    grid-area: card-pink;

    /* grid-column: 1;
    grid-row: 2; */

}

/* Image cards */
.card-image1 {
    background-image: var(--bg-desktop);
    background-size: cover;
    background-position: center;
    position: relative;
    grid-area: card-image1;
    /* grid-column: 2;
    grid-row: span 2; */


}

.card-image2 {
    background-image: var(--bg-desktop);
    background-size: cover;
    background-position: center;
    position: relative;
    grid-area: card-image2;
    /* grid-column: 3;
    grid-row: span 2; */

}





/* SLIDER TABLET VIEW */
@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "top controls"
            "slider slider";
        align-items: center;
    }

    .slider-content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 300px repeat(2, 450px);
        grid-template-rows: repeat(2, 300px);
        grid-template-areas:
            "card-blue card-image1 card-image2 "
            "card-pink card-image1 card-image2 ";
        gap: 1em;


    }

    .slider-controls {

        align-self: self-end;
        transform: translateX(-150px);
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    main.container {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

  .slider{
    width: 768px;
    height: 1000px;
  }

    .slider-content {
        margin-top: 50px;
          display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            "card-blue card-pink"
            "card-image1 card-image1"
            "card-image2 card-image2";
        justify-content: center;
        gap: 1em;
        opacity: 0;
    }

    .slider-content.active {
        /* display: grid; */
        opacity: 1;
    }

    .top {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        order: 1;
    }

    /* .card-pink {
        grid-column: 2;
        grid-row: 1;
    } */

    .slider {

        order: 2;
    }

    .card-image1,
    .card-image2 {
        background-image: var(--bg-tablet);
    }

    .img-title {
        font-size: 18px;
        font-weight: 500;
    }

    .img-desc p {
        font-size: 25px;
        font-weight: 500;
    }

    .slider-controls {
        order: 3;
        margin: 50px 0px;
    }



}


/* SLIDER MOBILE VIEW */

@media (max-width: 768px) {
    main.container {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .slider{
      width: 600px;
   
     }


    .icon {
        --icon-color: #fff;
        font-size: 15px;
        font-weight: 500;
        color: var(--icon-color);
    }

    .slider {

        order: 2;
    }

    .icon-pink {
        --icon-color: #4A424D;
    }

    .number {
        --number-color: #E9E9eE;
        font-size: 30px;
        color: var(--number-color);

    }

    .top {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        order: 1;
    }


    .top-left h2 {
        font-size: 30px;
    }

    .slider-content {
        margin-top: 50px;
        /* display: none; */
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas:
            "card-blue card-pink"
            "card-image1 card-image1"
            "card-image2 card-image2";
        justify-content: center;
        gap: 1em;
        opacity: 0;
    }

    .slider-content.active {
        display: grid;
        opacity: 1;
    }

    /* .card-pink {
        grid-column: 2;
        grid-row: 1;
    } */

    .card-image1,
    .card-image2 {
        background-image: var(--bg-tablet);
    }

    .img-title {
        font-size: 12px;
        font-weight: 500;
    }

    .img-desc p {
        font-size: 20px;
        font-weight: 500;
    }

    .slider-controls {
        order: 3;
        margin: 50px 0px;
        align-self: center;
    }


}